<!-- Mermaid.js -->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    mermaid.initialize({
      startOnLoad: true,
      theme: document.body.classList.contains('dark') ? 'dark' : 'default',
      mindmap: {
        useMaxWidth: true,
        padding: 10
      }
    });
  });
</script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">


<!-- Google SEO-->
<meta name="google-site-verification" content="G8fsEFFFryAT4j3roQrC55lzyfWStuWHQteTAGa3Elw" />
