openapi: 3.1.0
info:
  title: CJYjob Master Document Patch Actions
  version: 1.0.0
  description: >-
    Minimal GitHub Actions interface for source-preserving patches to
    CJYjob/CJYjob.github.io master documents. The workflow itself restricts
    writes to docs/master/, excludes docs/master/_archive/, verifies the
    expected blob SHA, requires exact one-time replacements, validates the
    resulting git diff, and commits only after validation succeeds.
servers:
  - url: https://api.github.com

paths:
  /repos/CJYjob/CJYjob.github.io/actions/workflows/apply-doc-patch.yaml/dispatches:
    post:
      operationId: dispatchExactMasterDocumentPatch
      summary: Dispatch an exact patch for one master document
      description: >-
        Runs the fixed apply-doc-patch workflow on main. Use the current Git
        blob SHA of the target file and exact old/new replacement text. The
        workflow rejects stale SHAs, zero/multiple matches, archive paths,
        non-master paths, multi-file changes, and diffs larger than the
        requested maximum.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  enum: [main]
                  description: Workflow ref. Fixed to main.
                inputs:
                  type: object
                  additionalProperties: false
                  required:
                    - path
                    - expected_blob_sha
                    - replacements_json
                    - max_changed_lines
                    - commit_message
                  properties:
                    path:
                      type: string
                      description: Repository-relative Markdown path under docs/master/; _archive is forbidden by the workflow.
                      examples:
                        - docs/master/system-operation.md
                    expected_blob_sha:
                      type: string
                      pattern: '^[0-9a-fA-F]{40}$'
                      description: Current Git blob SHA of the target file.
                    replacements_json:
                      type: string
                      description: >-
                        JSON-encoded non-empty array of exact replacements,
                        for example [{"old":"exact current text","new":"replacement text"}].
                    max_changed_lines:
                      type: string
                      pattern: '^[1-9][0-9]*$'
                      description: Maximum additions plus deletions allowed by git diff.
                      examples: ['8']
                    commit_message:
                      type: string
                      minLength: 1
                      maxLength: 200
                      description: Commit message used only after all validations pass.
      responses:
        '204':
          description: Workflow dispatch accepted.
        '401':
          description: Authentication failed.
        '403':
          description: Token lacks Actions write permission or repository policy blocks the action.
        '404':
          description: Repository or workflow not found for the authenticated caller.
        '422':
          description: Invalid workflow dispatch request.

  /repos/CJYjob/CJYjob.github.io/actions/workflows/apply-doc-patch.yaml/runs:
    get:
      operationId: listExactMasterDocumentPatchRuns
      summary: List recent exact-patch workflow runs
      description: Returns recent runs of the fixed master-document patch workflow for verification.
      security:
        - bearerAuth: []
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
            enum: [main]
          description: Restrict runs to main.
        - name: event
          in: query
          required: false
          schema:
            type: string
            enum: [workflow_dispatch]
          description: Restrict runs to manual workflow dispatches.
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
          description: Number of recent runs to return.
      responses:
        '200':
          description: Recent workflow runs.
        '401':
          description: Authentication failed.
        '403':
          description: Token lacks Actions read permission.
        '404':
          description: Repository or workflow not found for the authenticated caller.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained PAT
