{{- $key := .Get "activity" -}}
{{- $sortRaw := .Get "sort" -}}
{{- $daysRaw := .Get "days" -}}
{{- with index site.Data $key -}}
  {{- $data := . -}}
  {{- if $daysRaw -}}
    {{- $days := int $daysRaw -}}
    {{- $cutoff := (now.AddDate 0 0 (mul -1 $days)).Format "2006-01-02" -}}
    {{- $data = where $data "date" "ge" $cutoff -}}
  {{- end -}}
  {{- if $sortRaw -}}
    {{- $parts := split $sortRaw " " -}}
    {{- $field := index $parts 0 -}}
    {{- $order := "asc" -}}
    {{- if ge (len $parts) 2 -}}{{- $order = index $parts 1 -}}{{- end -}}
    {{- $data = sort $data $field $order -}}
  {{- end -}}
<table>
  <thead><tr>{{- range $k, $v := (index $data 0) }}<th>{{ $k }}</th>{{- end }}</tr></thead>
  <tbody>
  {{- range $data }}<tr>{{- range $k, $v := . }}<td>{{ $v }}</td>{{- end }}</tr>{{- end }}
  </tbody>
</table>
{{- else -}}<p>표시할 데이터가 없습니다: <code>{{ $key }}</code></p>{{- end -}}
